
/* Define the keyframes animation */
@keyframes slideIn {
  from {
    left: -250px; /* Start offscreen to the left */
  }
  to {
    left: 0; /* Slide in when open */
  }
}
@keyframes slideOut {
  from {
    left: 0px; /* Start offscreen to the left */
  }
  to {
    left: -250px; /* Slide in when open */
  }
}
@keyframes slideInSidebar {
  from {
    left: 0px; /* Start offscreen to the left */
  }
  to {
    left: -250px; /* Slide in when open */
  }
}
@keyframes slideOutSidebar {
  from {
   left: -250px; /* Start offscreen to theleft */
  }
  to {
   left: 0px; /* Slide in when open */
  }
}

/* Apply the animation to the .category-sidebar.open class */
.category-sidebar {
  background-color: #FFFFFF;
  position: fixed;
  left: -250px; /* Start offscreen to the left */
  top: -10px;
  bottom: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
  transition: left 0.8s ease;
}
.sub-category-sidebar{
   background-color: #FFFFFF;
  position: fixed;
  left: -250px; /* Start offscreen to the left */
  top: -10px;
  bottom: 0;
  height: 100%;
  width: 250px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1200;
  transition: right 0.8s ease;
}

.category-sidebar.open {
  animation: slideIn 0.8s ease forwards; /* Apply the animation when open */
}
.category-sidebar.close {
  animation: slideOut 0.8s ease forwards; /* Apply the animation when open */
}
.sub-category-sidebar.open {
  animation: slideInSidebar 0.8s ease forwards; /* Apply the animation when open */
}
.sub-category-sidebar.close {
  animation: slideOutSidebar 0.8s ease forwards; /* Apply the animation when open */
}

.category-sidebar .category-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.category-sidebar .category-title span{
  margin-left: 10px;
  margin-top: 4px;
}
.category-title{
  padding: 10px;
}
.category-title:hover{
  background-color: #eeeaeae1;
}
.category-head{
  display: flex;
 border: 1px solid #eee;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: #000;
}
.category-head img{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.category-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-list {
  list-style: none;
}

.category-item {
  cursor: pointer;
  padding: 5px 0;
  color: #000;
}

.sub-category-list {
  list-style: none;
  margin-top: 5px;
  margin-left: 20px;
}

.sub-category-item {
  cursor: pointer;
  padding: 5px 0;
}
.category-sidebar .closeIcon{
  position: absolute;
  color: rgb(8, 4, 4);
  background-color: #eeeaeae1;
  top: 70px;
  right: 0px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1111;
}